<div class="panel panel-default">
  <div class="panel-heading">Features</div>
  <div class="panel-body">

    <div class="row">
    <% @weighted_average_game.each do |g| %>
        <div class="col-xs-5 col-md-3">
          <div class="thumbnail">
            <%= image_tag(g.image.url, size: '127x168') %>
            <div class="caption" style="text-align:center">
              <h3><%= link_to g.title, g %></h3>
              <p> <%= g.get_likes.count %> <span class="glyphicon glyphicon-thumbs-up"></span></p>
               <p> <%= g.get_dislikes.count %> <span class="glyphicon glyphicon-thumbs-down"></span> </p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</div>

<h1 style="text-align:center">BROWSE GAMES</h1>
<div class="panel panel-default">
  <div class="panel-body">
  <div class="row">
    <% @games.each do |g| %>
        <div class="col-xs-5 col-md-3">
          <div class="thumbnail">
            <%= image_tag(g.image.url, size: '127x168') %>
            <div class="caption" style="text-align:center">
              <h3><%= link_to g.title, g %></h3>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      </div>
  </div>
