<div class="panel panel-default">
<div class="panel-heading" style="text-align:center"><h4>Profile</h4></div>
    <table class="table">
      <tr>
        <td>
           <%= image_tag(current_user.profilepicture, size: "150x150") %>
        </td>
        <td>
           <% if current_user.present? %>
              <b><%= current_user.email.upcase %></b>
           <% end %>
        </td>
        <td>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
         </td>
      </tr>
    </table>
</div>
<% if current_user.favorites.count > 0 %>
<center><h1>MY FAVORITE</h1></center>
  <table class="table">
    <% current_user.favorites.each do |fav| %>
      <tr>
        <td> <%= image_tag(fav.image, size: '90x90') %> </td>
        <td> <%= fav.title %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
