<div class="panel panel-primary">
  <div class="panel-heading" style="text-align:center"><h4>Profile</h4></div>
    <table class="table">
      <tr>
        <td>
          <% if current_user.profilepicture.blank? %>
            <%= image_tag('https://s3.amazonaws.com/gamesproject/uploads/images.png', size: "150x150") %>
            <% else %>
            <%= image_tag(current_user.profilepicture, size: "150x150") %>
          <% end %>
        </td>
        <td>
           <% if current_user.present? %>
              <b><%= current_user.email.upcase %></b>
           <% end %>
        </td>
        <td>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-info pull-right" %>
         </td>
      </tr>
    </table>
</div>
<% if current_user.favorites.count > 0 %>
<div class="panel panel-primary">
  <div class="panel-heading"><center><h4>MY FAVORITE</h4></center></div>
      <table class="table">
        <% current_user.favorites.each do |fav| %>
          <tr>
              <td><%= image_tag(fav.image, size: '150x150') %> </td>
              <td>
                <h5><%= fav.title %></h5>
                <p><%= truncate(fav.description, length: 50, omission: "....." ) %></p>
              </td>
              <td><%= link_to '<span class= "glyphicon glyphicon-heart-empty pull-right" style="font-size:50px"></span>'.html_safe , remove_favorite_game_path(fav), method: :put %></td>
          </tr>
          <tr></tr>
        <% end %>
      </table>
      <% end %>
</div>



