<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'All Game', games_path %></li>
  <li><%= link_to 'New Game', new_game_path%></li>
</ul>

<div class="panel panel-default">
  <div class="panel-heading" style="text-align: center;">Game List</div>
    <div class="panel-body">

              <table class="table">
                <tr>
                  <th>Image</th>
                  <th>Title &amp; Description</th>
                  <th>Action</th>
                </tr>

                <% @game.each do |game| %>
                <tr>
                  <td>
                    <%= link_to (image_tag game.image, size: '242x200'), game %>
                  </td>
                  <td>
                    Title: <%= link_to (game.title), game, class: 'btn btn-link' %>
                    <br>
                    Description: <%= game.description %>
                  </td>
                  <td>
                    <%= link_to '', edit_game_path(game), class: 'glyphicon glyphicon-pencil btn btn-info' %>
                    <%= link_to '', game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash btn btn-danger' %>
                  </td>
            <% end %>
                </tr>
              </table>
          </div>
        </div>
      </div>
    </div>
</div>
