<p id="notice"><%= notice %></p>

<h1>FEATURES:</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
    <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weighted_average_game.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= link_to 'Show', game %></td>
       <td><%= image_tag game.image.url, size: '242x300' %></td>

        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Game', new_game_path %>
