<!DOCTYPE html>
<html>
<head>
  <title>GamesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>
<div class="container-fluid" style="margin-top:60px">
  <%= yield %>

</div>
<div class="img-center">
  <%= image_tag "https://s3.amazonaws.com/yelpdemo-kong/Buildings.png", class: 'img-footer' %>
</div>
  <%= render 'layouts/footer' %>
</body>
</html>
